<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="signup.css">
</head>
<body>
 <style>





body {
   background-color: lighten(#398B93, 30%);
   * { box-sizing: border-box; }
}

.header {
   background-color: darken(#398B93, 5%);
   color: white;
   font-size: 1.5em;
   padding: 1rem;
   text-align: center;
   text-transform: uppercase;
}



.table-users {
   border: 1px solid darken(#398B93, 5%);
   border-radius: 10px;
   box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
   max-width: calc(100% - 2em);
   margin: 1em auto;
   overflow: hidden;
   width: 800px;
}

table {
   width: 100%;
   
   td, th { 
      color: darken(#398B93, 10%);
      padding: 10px; 
   }
   
   td {
      text-align: center;
      vertical-align: middle;
      
      &:last-child {
         font-size: 0.95em;
         line-height: 1.4;
         text-align: left;
      }
   }
   
   th { 
      background-color: lighten(#398B93, 50%);
      font-weight: 300;
   }
   
   tr {     
      &:nth-child(2n) { background-color: white; }
      &:nth-child(2n+1) { background-color: lighten(#398B93, 55%) }
   }
}

@media screen and (max-width: 700px) {   
   table, tr, td { display: block; }
   
   td {
      &:first-child {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);

      }

      &:not(:first-child) {
         clear: both;

         padding: 4px 20px 4px 90px;
         position: relative;
         text-align: left;

         &:before {
            color: lighten(#398B93, 30%);
            content: '';
            display: block;
            left: 0;
            position: absolute;
         }
      }

      &:nth-child(2):before { content: 'Name:'; }
      &:nth-child(3):before { content: 'Email:'; }
      &:nth-child(4):before { content: 'Phone:'; }
      &:nth-child(5):before { content: 'Comments:'; }
   }
   
   tr {
      padding:10px 0;
      position: relative;
      &:first-child { display: none; }
   }
}

@media screen and (max-width: 500px) {
   .header {
      background-color: transparent;
      color: lighten(#398B93, 60%);
      font-size: 2em;
      font-weight: 700;
      padding: 0;
      text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
   }
   
   
   
   th {
      &:first-child { 
         background-color: lighten(#398B93, 45%); 
         border-bottom: 1px solid lighten(#398B93, 30%);
         border-radius:10px 10px 0 0;
         position: relative;   
         top: 0;
         transform: translateY(0);
         width: 100%;
      }
      
      &:not(:first-child) {
         margin: 0;
         padding: 5px 1em;
         width: 100%;
         
         &:before {
            font-size: .8em;
            padding-top: 0.3em;
            position: relative;
         }
      }
      
      &:last-child  { padding-bottom: 1rem !important; }
   }
   
   tr {
      background-color: white !important;
      border: 1px solid lighten(#398B93, 20%);
      border-radius: 10px;
      box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
      margin: 0.5rem 0;
      padding: 0;
   }
   
   .table-users { 
      border: none; 
      box-shadow: none;
      overflow: visible;
   }
}
}

 </style>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div class="image-container"> 
        <img src="/img/15_generated.jpg" class="" alt="Logo" max-width="100%" height="50px" style="border-radius: 50%;">
      </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a id="danhmuc" class="tab-binhthuong" href="/admin/pageAdmin" >Danh mục sản phẩm</a></li>
        <li><a id="quanlitk" class="tab-binhthuong" href="/admin/quanlitk" >Quản lí tài khoản</a></li>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle tab-binhthuong" data-toggle="dropdown" id="m2" href="#">Cấp tài khoản <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a  id="dkcs" href="/admin/themUserCoso">Cơ sở sản xuất</a></li>
              <li><a  id="dkpp" href="/admin/themUserDaily">đại lí phân phối</a></li>
              <li><a  id="dkbh" href="/admin/themUserBaohanh">trung tâm bảo hành</a></li>
            </ul>
            <li><a id="qlsp" class="tab-binhthuong" href="/admin/quanlisp" >Quản lí dòng sản phẩm</a></li>
          </li>
      </ul>
      
    </div>
  </div>
</nav>

 <div><div></div>
<div class="container-fluid container">
  <a href="/admin/themsp"><button type="button" class="btn btn-primary"> Thêm sản phẩm </button></a> <!--thêm vào bảng products -->
  </div>
        

<table class="table table-hover table table-bordered table-striped table-responsive-stack"> <!--bảng products -->
  <thead class="thead-dark">
    <tr>
      <th scope="col">STT</th>
       <th scope="col">Mã Sản Phẩm</th> <!--produc_id -->
       <th scope="col">Tên Sản Phẩm</th> <!--produc_name -->
       <th scope="col">Dòng Sản Phẩm</th> <!--produc_line -->
       <th scope="col">Giá Sản Phẩm</th> <!--produc_price -->
       <th scope="col">Mô tả sản phẩm</th> <!--description -->
       <th scope="col">Trạng thái sản phẩm</th> <!--product_status -->
       <th scope="col">Mã Kho</th>
       <th scope="col">Mã Shop</th>
       <th scope="col">Thời gian bảo hành</th>
       <th scope="col">Đang bảo hành</th>
       <th scope="col">Ngày bán</th>
    </tr>
  </thead>
  <tbody>
    {{#each Mathang}}
    <tr>
      {{!-- <td><input type="checkbox" name="chk" /></td> --}}
      <th scope="row">{{sum @index 1}}</th>
      <th scope="row">{{this.masp}}</th>
      <th scope="row">{{this.tensp}}</th>
      <th scope="row">{{this.dongsp}}</th>
      <th scope="row">{{this.giasp}}</th>
      <th scope="row">{{this.motasp}}</th>
      <th scope="row">{{this.trangthaisp}}</th>
      <th scope="row">{{this.makho}}</th>
      <th scope="row">{{this.mashop}}</th>
      <th scope="row">{{this.thoigianbaohanh}}</th>
      <th scope="row">{{this.dangbaohanh}}</th>
      <th scope="row">{{this.ngayban}}</th>
      <th>
        <a href="quanli/{{this._id}}/sua">Sửa</a>
        <a href="quanli/{{this._id}}" class="btn btn-primary" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#delete-sp" >Xóa</a>
      </th>

    </tr>
    {{/each}}
  </tbody>
</table>
</div>
<div class="clearfix bottomfooter">
  <div class="container">
    <div class="row">
      <div class="col-md-6 navbar-fixed-bottom" style="margin-top:auto;">
        <span class="copyright">Copyright &copy; 2022, Công ty BigCorp</span>
      </div>
    </div>
  </div>
</div>

{{!   Xoa}}

<div class="modal" tabindex="-1" id="delete-sp">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa sản phẩm</h5>
        <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc rằng muốn xóa không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" id="btl-delete-sp">Xóa bỏ</button>
      </div>
    </div>
  </div>
</div>


{{!-- form xoa --}}
<form method="POST" name="delete-form"></form>

{{!-- document.addEventListener('DOMContentLoaded', function() {
    $('#delete-sp').on('show.bs.modal', function (event){
      var button =$(event.relatedTarget);
      var id = button.data('id');
        console.log("\n\n\n\n\n\n" + id);
    });
  }); --}}
<script>
  var Idsp;
  var deleteForm = document.forms['delete-form'];
  const exampleModal = document.getElementById('delete-sp');


  exampleModal.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget;
    
    Idsp = button.getAttribute('data-id');
    // console.log("\n\n\n\n\n\n" + id);
  });

  var btnDeleteSP = document.getElementById('btl-delete-sp');

  btnDeleteSP.onclick = function() {
    //alert(Idsp);
    deleteForm.action = '/admin/quanli/delete/' + Idsp + "?_method=DELETE";
    deleteForm.submit();
  }   

 

  
</script>

</body>
</html>