<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div class="image-container"> 
        <img src="/img/15_generated.jpg" class="" alt="Logo" max-width="100%" height="50px" style="border-radius: 50%;">
      </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a id="danhmuc" class="tab-binhthuong" href="/daily" >Sản Phẩm Mới Từ Cơ Sở Sản Xuất</a></li>
        <!-- <li><a id="captk" class="tab-binhthuong" href="test.html" >Cấp tài khoản</a></li> -->
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a class="dropdown-toggle tab-binhthuong" data-toggle="dropdown" id="m2" >Nhận sản phẩm <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a  id="dkcs" href="/daily/spcanbaohanh">Sản Phẩm Cần Bảo Hành</a></li>
              <li><a  id="dkpp" href="/daily/spdabaohanh">Sản Phẩm Đã Bảo Hành</a></li>
              
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle tab-binhthuong" data-toggle="dropdown" id="m2" href="#">Thống kê sản phẩm <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a  id="dkcs" href="/daily/thongke/loaisp">Loại Sản Phẩm</a></li>
                <li><a  id="dkpp" href="/daily/thongke/soluong">Số Lượng Sản Phẩm Bán Ra</a></li>
                
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle tab-binhthuong" data-toggle="dropdown" id="m2" href="#">Bán sản phẩm<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a  id="dkcs" href="/daily/daban">Đã bán</a></li>
                <li><a  id="dkpp" href="/daily/chuaban">Chưa bán</a></li>
              </ul>
            </li>
          </ul>
          <li><a id="sptv_cssx" class="tab-binhthuong" href="/daily/travecoso" >Trả sản phẩm cho cơ sở sản xuất</a></li>
    </div>
  </div>
</nav>
 

<div class="container-fluid">
    <h1>Trả sản phẩm về cho cơ sở sản xuất:</h1>
    </div>
    <div class="container-fluid">
          <a href="/daily/themtravecoso"><button type="button" class="btn btn-primary">Thêm sản phẩm</button></a>
         </div>
    <table class="table table-hover"> <!--bảng products -->
      <thead>
        <tr>
          <th scope="col">STT</th>
          <th scope="col">Mã Sản phẩm</th> <!--give_back_id -->
          <th scope="col">Tên sản phẩm</th>
          <th scope="col">Mã kho sản phẩm</th> <!--produc_id -->
          <th scope="col">Lí do hoàn trả</th>
          <th scope="col">Ngày trả</th>
       </tr>
     </thead>
     <tbody>
      {{#each Travecoso}}
       <tr>
         <th scope="row">{{sum @index 1}}</th>
         <th scope="row">{{this.Masp}}</th>
         <th scope="row">{{this.Tensp}}</th>
         <th scope="row">{{this.Makho}}</th>
         <th scope="row">{{this.Lido}}</th>
         <th scope="row">{{this.Ngaytra}}</th>
          <th>
        {{!-- <a href="quanli/{{this._id}}/sua">Sửa</a> --}}
        <a href="coso/{{this._id}}" class="btn btn-primary" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#delete-kho" >Xóa</a>
      </th>
        </tr>
        {{/each}}
      </tbody>
    </table>
 
  </form>
  <div class="clearfix bottomfooter">
    <div class="container">
      <div class="row">
        <div class="col-md-6 navbar-fixed-bottom" style="margin-top:auto;">
          <span class="copyright">Copyright &copy; 2022, Công ty BigCorp</span>
        </div>
      </div>
    </div>
  </div>


   {{!   Xoa}}

<div class="modal" tabindex="-1" id="delete-kho">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xóa sản phẩm</h5>
        <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc rằng muốn xóa không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" id="btl-delete-kho">Xóa bỏ</button>
      </div>
    </div>
  </div>
</div>


{{!-- form xoa --}}
<form method="POST" name="delete-form"></form>

{{!-- document.addEventListener('DOMContentLoaded', function() {
    $('#delete-sp').on('show.bs.modal', function (event){
      var button =$(event.relatedTarget);
      var id = button.data('id');
        console.log("\n\n\n\n\n\n" + id);
    });
  }); --}}
<script>
  var Idsp;
  var deleteForm = document.forms['delete-form'];
  const exampleModal = document.getElementById('delete-kho');


  exampleModal.addEventListener('show.bs.modal', event => {
    const button = event.relatedTarget;
    
    Idsp = button.getAttribute('data-id');
    // console.log("\n\n\n\n\n\n" + id);
  });

  var btnDeleteSP = document.getElementById('btl-delete-kho');

  btnDeleteSP.onclick = function() {
    //alert(Idsp);
    deleteForm.action = '/daily/delete/sptrave/' + Idsp + "?_method=DELETE";
    deleteForm.submit();
  }   

 

  
</script>